if post.metadata.genre in ['zhihu']
    +h.show("zhihu")
elif post.metadata.genre in ['forum']
    +h.show("forum")
elif post.metadata.meme
    +h.show("meme")
else
    extends base.jade

    block title
        title= post.title + ' - ' + site.title

    block content

        #post
            h1.post_title= post.title
            .content_list= post.content

        #post_additon

            .postpager
                if posts.pre_one
                    a.pre_post(href=posts.previous_one.url)= '&#60;'
                else
                    span.pre_post= '&#8260;'
                .post_info
                    time(datetime= post.date.format('%Y-%m-%d'))= post.date.format('%Y/%m/%d')
                    if post.category
                        a.cat(href=post.category.url)= post.category.title
                    if post.tags
                        for tag in post.tags
                            span.seperate /
                            a.tag(href='/tag/{{tag}}')= tag
                    span.seperate /
                    span.count= ('{0:,}'.format(post.text_words)) + '字'
                if posts.next_one
                    a.next_post(href=posts.next_one.url)= '&#62;'
                else
                    span.next_post= '&#8260;'

        if post.metadata.comment not in ['no', 'No', False]
            #comments
                +post.comments_as_html()


        script.
            (function() {

            var p = document.querySelectorAll('#post p.md_block');
            var regex = /^\{\{(!)?(.*)\}\}$/;
            var len = p.length;
            for (var i = 0; i < len; i++) {
            var first = p[i].firstElementChild;
            if (!first) {continue;}
            var matches = first.textContent.match(regex);
            if (!matches) {continue;}

            var legendHtml = '<p class="md_compiled md_paragraph_html"><legend class="foldup-caption" style="cursor:hand" onclick="isHidden(this)"></legend></p >'; // don't add unescaped matches[2] here
            
            var divHtml = '<div class="foldup" style="display:' + (matches[1] ? 'block' : 'none') + '">';
            var lines = p[i].children;
            var count = lines.length;
            for (var j = 1; j < count; j++) {
            divHtml += '<p>' + lines[j].innerHTML + '</p >';
            }
            divHtml += '</div>';
            p[i].insertAdjacentHTML('beforebegin', legendHtml);
            p[i].previousSibling.firstChild.textContent = matches[2];
            p[i].insertAdjacentHTML('beforebegin', divHtml);
            p[i].remove();
            }
            })()

        script.
            (function() {
            var p = document.querySelectorAll('#post p.md_block');
            for (var i = 0; i < p.length; i++) {
            var first = p[i].firstElementChild;
            if (!first) {continue;}
            if (first.textContent !== '!Warning') {continue;}
            p[i].removeChild(first);
            p[i].className = 'warning';
            }
            })()

